<template>
  <div>
    <button @click="goToNextPage">
      <slot name="title" />
    </button>
  </div>
</template>

<script>
export default {
  name: 'Pagination',

  methods: {

    goToNextPage() {
      this.$emit('load-more');
    },
  },
};
</script>

<style scoped>

</style>
