<template>
  <div class="modal">
    <form
      ref="changeInfo"
      action=""
      class="form-modal"
    >
      <div
        @click="closeModal"
        class="close"
      >
        {{ beerId }}
        <img src="@/assets/close.svg" alt="">
      </div>
      <label for="name">Change name:</label>
      <input
        v-model="form.name"
        type="text"
        id="name"
      >
      <label for="description">Change description</label>
      <input
        v-model="form.description"
        type="text"
        id="description"
      >
      <button
        @click.prevent="changeInfo(beerId)"
      >Change</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Modal',
  props: {
    beerId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      form: {
        name: '',
        description: '',
      },
    };
  },
  methods: {
    closeModal() {
      this.$emit('closeModal');
    },
    changeInfo(id) {
      const { name, description } = this.form;
      this.$store.commit('CHANGE_INFO_ELEMENTS', { name, description, id });
    },
  },
};
</script>

<style lang="sass">
.modal
  display: flex
  border: 1px solid #000
  position: fixed
  background: #fff
  top: 150px
  left: 50%
  transform: translateX(-50%)
  width: 500px
  height: auto
  padding: 35px
  & input
    margin-bottom: 15px
    padding: 10px
    font-size: 14px
.form-modal
  display: flex
  flex-direction: column
  margin: 0 auto
  width: 100%
  max-width: 50%
  & button
    padding: 10px
    font-size: 14px
    font-weight: bold
    cursor: pointer
.close
  max-width: 35px
  margin-left: auto
  cursor: pointer
</style>
