<template>
  <div>
    <div>Список:</div>
    <div
      class="header"
    >
      <div>Порядковый номер</div>
      <div>Name</div>
      <div>Img</div>
      <div>Description</div>
      <div>Brewers_tips</div>
    </div>
    <div class="body">
      <row-table
        v-for="row in beers"
        :key="row.id"
        :row_data="row"
        @deleteRow="deleteRow(row.id)"
        @changeInfo="changeInfo(row.id)"
        @showModal="showModal(row.id)"
      />
    </div>
    <modal
      v-if="isVisible"
      @closeModal="closeModal"
      :beerId="this.ELEMENT_ID"
    />
  </div>
</template>

<script>
// eslint-disable-next-line import/extensions
import RowTable from '@/components/RowTable';
// eslint-disable-next-line import/extensions
import Modal from '@/components/Modal/Modal';
import { mapGetters } from 'vuex';

export default {
  name: 'BeerList',
  components: {
    RowTable,
    Modal,
  },
  props: {
    beers: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      isVisible: false,
    };
  },
  computed: {
    ...mapGetters([
      'ELEMENT_ID',
    ]),
    pages() {
      return {
      };
    },
  },
  methods: {
    deleteRow(e) {
      this.$store.commit('DELETE_ELEMENT_FROM_LIST', e);
    },
    changeInfo(e) {
      this.$store.commit('CHANGE_INFO_ELEMENTS', e);
    },
    showModal(e) {
      this.isVisible = !this.isVisible;
      this.$store.commit('CHANGE_ELEMENT_ID', e);
    },
    closeModal() {
      this.isVisible = false;
    },
  },
};
</script>

<style lang="sass">
.body
  margin-bottom: 150px
img
  width: 100%
.header
  display: flex
  justify-content: space-between
  margin-top: 20px
  & div
    flex: 0 1 20%
    padding: 15px
    border: 1px solid #ccc
</style>
