<template>
  <div class="body__row">
    <div class="row row__num">
      <div class="buttons">
        <button @click="showModal">
          <img src="../assets/edit.svg" alt="">
        </button>
        <button @click="deleteRow">
          <img src="../assets/delete.svg" alt="">
        </button>
      </div>
      <span>{{ row_data.id }}</span>
    </div>
    <div class="row row__name"> {{ row_data.name }} </div>
    <div class="row row__img">
      <img :src="(row_data || []).image_url" alt="">
    </div>
    <div class="row row__description"> {{ row_data.description }} </div>
    <div class="row row__brewers-tips"> {{ row_data.brewers_tips }} </div>
  </div>
</template>

<script>
export default {
  name: 'RowTable',
  props: {
    row_data: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    deleteRow() {
      this.$emit('deleteRow');
    },
    showModal() {
      this.$emit('showModal');
    },
  },
};
</script>

<style lang="sass" scoped>
.body
  &__row
    display: flex
    flex: 0 1 20%
    justify-content: space-between
.row
  flex: 0 1 20%
  border: 1px solid #ccc
  padding: 15px
  &__img
    & img
      max-width: 50px
  &__num
    display: flex
    flex-direction: column-reverse
    align-items: center
    position: relative
    & span
      position: absolute
      top: 5px
.buttons
  display: flex
  & button
    width: 40px
    margin: 10px
    height: 40px
</style>
