<template>
  <div id="app">
    <div class="container">
      <beer-list
        :beers="BEER_LIST"
      />
      <pagination
        v-if="BEER_LIST.length && !allRecordsFetched"
        @load-more="updateList"
      >
        <template #title>
          {{ isBeerListPending ? 'Loading...' : 'Show next' }}
        </template>
      </pagination>
    </div>
  </div>
</template>

<script>
// eslint-disable-next-line import/extensions
import {
  mapActions,
  mapGetters,
  mapMutations,
  mapState,
} from 'vuex';
import BeerList from '@/components/BeerList.vue';
import Pagination from '@/components/Pagination/Pagination.vue';

export default {
  name: 'App',
  components: {
    BeerList,
    Pagination,
  },
  data() {
    return {
      allRecordsFetched: false,
    };
  },
  mounted() {
    this.GET_BEER_FROM_API()
      .then((list) => {
        this.SET_BEERS_TO_STORE(list);
      });
  },
  computed: {
    ...mapState([
      'isBeerListPending',
    ]),
    ...mapGetters([
      'BEER_LIST',
    ]),
  },
  methods: {
    ...mapActions([
      'GET_BEER_FROM_API',
    ]),
    ...mapMutations([
      'INCREMENT_PAGINATION_PAGE',
      'SET_BEERS_TO_STORE',
    ]),
    updateList() {
      this.INCREMENT_PAGINATION_PAGE();
      this.GET_BEER_FROM_API().then((list) => {
        if (!list.length) {
          this.allRecordsFetched = true;
        }
        this.SET_BEERS_TO_STORE([
          ...this.BEER_LIST,
          ...list,
        ]);
      });
    },
  },
};
</script>

<style lang="sass">
#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  margin-top: 60px
.container
  max-width: 1200px
  margin: 0 auto

</style>
